.social
  .first-line
    = f.input :url, :placeholder => "url", :class => "input-xxlarge"
  .remove-button
    = f.link_to_remove "[-] Remove", :data => {:confirm => "Are you sure?"}, :class => 'btn btn-small btn-danger'
  %hr

