%h1= 'Rails People'
%p
  Discover users of the 
  =link_to "Ruby on Rails Web", "http://rubyonrails.org/", :target => "_blank"
  framework near you

  = gmaps4rails(@json)
  %br
  - @countries_printable_names.each do |c|
    .row.span4
      =link_to "#{c}", "#"
