%h1 About Rails People 
%p 
  = "Rails People lists #{@users} developers from around the world, in #{@countries} different countries."
  = "The aim of the site is to help Rails developers find people near them with simmilar interests and create some user groups."
%p
  The site was built and open-sourced by <a href="">Rafał Trojanowski</a>, <a href="">Justyna Wojtczak</a> and 
  <a href="">Jarosław Jeleniewicz</a>. The code is available on <a href="http://github.com/prograils/railspeople">github</a>.

