#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
}

.selected-country-printable-name {
  font-size: 30px;
  margin-left: 5px;
}

.btn-customized {
  margin-top: -10px;
}
