#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
}

.selected-country-printable-name {
  font-size: 30px;
  margin-left: 5px;
}

.btn-customized {
  margin-top: -10px;
}

.bio {
  background-color: #E0FFB8;
  padding: 10px 10px 10px 10px;
  border-color: #94DA3A;
  border-style: solid;
  border-width: 1px 0;
}

.btn-tags {
  margin-top: 12px;
}
